<mat-card class="cardWithShadow">
  <mat-card-content class="p-32">
    <h3 class="text-center m-b-24">Ajouter un utilisateur</h3>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Prénom</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput formControlName="firstname" required>
        <mat-error *ngIf="form.get('firstname')?.hasError('required') && form.get('firstname')?.touched">
          Le prénom est requis.
        </mat-error>
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Nom</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput formControlName="lastname" required>
        <mat-error *ngIf="form.get('lastname')?.hasError('required') && form.get('lastname')?.touched">
          Le nom est requis.
        </mat-error>
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Role</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-select formControlName="role" required>
          <mat-option value="Manager">Manager</mat-option>
          <mat-option value="Employee">Employé</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('role')?.hasError('required') && form.get('role')?.touched">
          Le rôle est requis.
        </mat-error>
      </mat-form-field>

      @if (form.get('role')?.value === 'Manager') {
        <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Profil</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-select formControlName="profile" required>
            <mat-option value="Superviseur">Superviseur</mat-option>
            <mat-option value="Normal">Normal</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('profile')?.hasError('required') && form.get('profile')?.touched">
            Le profil est requis.
          </mat-error>
        </mat-form-field>
      }

      <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Adresse Email</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput type="email" formControlName="email" required>
        <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
          L'adresse email est requise.
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
          L'adresse email n'est pas valide.
        </mat-error>
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Mot de passe</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
          Le mot de passe est requis.
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched">
          Le mot de passe doit contenir au moins 6 caractères.
        </mat-error>
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Unité d'organisation</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-select formControlName="businessUnit" required >
          @for (bu of businessUnits; track bu.value) {
          <mat-option [value]="bu.value">{{bu.label}}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('businessUnit')?.hasError('required') && form.get('businessUnit')?.touched">
          L'unité d'organisation est requise.
        </mat-error>
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Localisation de travail</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-select formControlName="workLocation">
          <mat-option value="remote">À distance</mat-option>
          <mat-option value="on-site">À site</mat-option>
          <mat-option value="hybrid">Hybride</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('workLocation')?.hasError('required') && form.get('workLocation')?.touched">
          La localisation de travail est requise.
        </mat-error>
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-2 d-block">Jours de travail par défaut</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <mat-select formControlName="defaultDays" multiple>
          <mat-option value="Lundi">Lundi</mat-option>
          <mat-option value="Mardi">Mardi</mat-option>
          <mat-option value="Mercredi">Mercredi</mat-option>
          <mat-option value="Jeudi">Jeudi</mat-option>
          <mat-option value="Vendredi">Vendredi</mat-option>
          <mat-option value="Samedi">Samedi</mat-option>
          <mat-option value="Dimanche">Dimanche</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('defaultDays')?.hasError('required') && form.get('defaultDays')?.touched">
          Les jours de travail par défaut sont requis.
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="w-100 m-t-24" [disabled]="form.invalid">
        Ajouter
      </button>
    </form>
  </mat-card-content>
</mat-card>
