<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Icons</mat-card-title>
    <mat-card-subtitle class="m-b-24">Tabler Icons</mat-card-subtitle>
    <a href="https://tabler.io/icons" target="_blank" rel="noopener noreferrer">
      Visit Tabler Icons website
    </a>
  </mat-card-content>
</mat-card>