<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>
          <ng-container *ngIf="errorMessage.length > 0; else registrationFormBlock">
            <div class="alert alert-danger text-center m-t-24">
              {{ errorMessage }}
              <button mat-flat-button [routerLink]="['/authentication/login']" class="btn btn-primary m-t-16">
                Retourner à la page de connexion
              </button>
            </div>
          </ng-container>
          <ng-template #registrationFormBlock>
            <h3 class="text-center m-t-24 m-b-8">Créer votre compte</h3>
            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Prénom</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput formControlName="firstname">
                <mat-error *ngIf="isSubmitting && form.controls.firstname.errors && form.controls.firstname.touched && form.controls.firstname.errors['required']">
                  Le prénom est requis.
                </mat-error>
              </mat-form-field>

              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Nom</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput formControlName="lastname" />
                <mat-error *ngIf="isSubmitting && form.controls.lastname.errors && form.controls.lastname.touched && form.controls.lastname.errors['required']">
                  Le nom est requis.
                </mat-error>
              </mat-form-field>

              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Adresse Email</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary" title="Lire Seulement">
                <input matInput type="email" formControlName="email" readonly="true" />
                <mat-error *ngIf="isSubmitting && form.controls.email.errors && form.controls.email.touched && form.controls.email.errors['email']">
                  L'adresse email est requise.
                </mat-error>
                <mat-error *ngIf="isSubmitting && form.controls.email.errors && form.controls.email.touched && form.controls.email.errors['required']">
                  L'adresse email n'est pas valide.
                </mat-error>
              </mat-form-field>

              <!-- password -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Mot de passe</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="password" />
                <mat-error *ngIf="isSubmitting && form.controls.password.errors && form.controls.password.touched && form.controls.password.errors['required']">
                  Le mot de passe est requis.
                </mat-error>
                <mat-error *ngIf="isSubmitting && 
                form.controls.password.errors && form.controls.password.touched && form.controls.password.errors['minlength']">
                  Le mot de passe doit contenir au moins 6 caractères.
                </mat-error>
              </mat-form-field>

              <button mat-flat-button color="primary" class="w-100 m-t-24">
                S'inscrire
              </button>
              <!-- input -->
            </form>
            <span class="d-block f-w-500 text-center m-t-24">Vous avez déjà un compte ?
              <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
                Se connecter</a>
            </span>
          </ng-template>
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>